// =============================================================================
// CURSOR CONFIGURATION
// =============================================================================

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    // xcursor-size 20
}