layout {

    focus-ring {
        active-color   "#80d5d2"
        inactive-color "#0e1514"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#80d5d2"
        inactive-color "#0e1514"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#80d5d2"
        inactive-color "#00504e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#80d5d280"
    }
}

recent-windows {
    highlight {
        active-color "#80d5d2"
        urgent-color "#ffb4ab"
    }
}
