layout {

    focus-ring {
        active-color   "#75d5d7"
        inactive-color "#1a2323"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#75d5d7"
        inactive-color "#1a2323"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1a232370"
    }

    tab-indicator {
        active-color   "#75d5d7"
        inactive-color "#1f797b"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#75d5d780"
    }
}

recent-windows {
    highlight {
        active-color "#75d5d7"
        urgent-color "#fd4663"
    }
}
