layout {

    focus-ring {
        active-color   "#8bc1b3"
        inactive-color "#1d2120"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#8bc1b3"
        inactive-color "#1d2120"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1d212070"
    }

    tab-indicator {
        active-color   "#8bc1b3"
        inactive-color "#2f6a5b"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#8bc1b380"
    }
}

recent-windows {
    highlight {
        active-color "#8bc1b3"
        urgent-color "#fd4663"
    }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
}